@import 'reset.css';
@import 'layout.css';
@import 'animation.css';
@font-face {
    font-family: 'Mak';
    font-style: bold;
    font-size: 80px;
    font-display: swap;
    src: url(../font/MAK-bold.woff) format(woff);
}
@font-face {
    font-family: 'Mak';
    font-style: bold;
    font-size: 10px;
    font-display: swap;
    src: url(../font/MAK-bold.woff) format(woff);
}
@font-face {
    font-family: 'Mak';
    font-style: bold;
    font-size: 20px;
    font-display: swap;
    src: url(../font/MAK-bold.woff) format(woff);
}